*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.quizContainer{
    /* border: 2px solid lightblue; */
    width: 60%;
    margin: 0px auto;
    height: 300px;
}

.quizHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizBody{
    width: 60%;
    margin: 50px auto;
    padding-top: 10px ;
}
.quizFooter{
    display: flex;
    justify-content: space-between;
}
li{
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}
li:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}